---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import { generateExcerpt } from "@/lib/markdown";
import { Icon } from "astro-icon/components";
import { startCase } from "lodash-es";
import FixableRegion from "@/components/FixableRegion.astro";
import Fixable from "@/components/Fixable.astro";

const posts = await Promise.all(
  (await getCollection("blog")).map(async (post) => ({
    ...post,
    excerpt: (await generateExcerpt(post.body)).code,
  }))
);
posts.sort((a, b) => {
  if (a.data.date === "now") return -1;
  if (b.data.date === "now") return 1;
  if (a.data.date > b.data.date) return -1;
  if (a.data.date < b.data.date) return 1;
  return 0;
});

const livePost = posts.shift();
const postsByCategory = posts.reduce(
  (map, post) => {
    const category = post.id.split("/")[0];
    if (category in map) map[category].push(post);
    else map[category] = [post];
    return map;
  },
  {} as Record<string, typeof posts>
);

/** @breaklocation Blog */
/** @breakprocess blog */
---

{
  /**
   * @break
   * href: ""
   * wcag2: 1.4.13
   * description: |
   *   In the top navigation bar, nested items open on keyboard focus and can only be dismissed by moving focus.
   * discussionItems:
   *   - What does this fail under WCAG 3?
   */
  /**
   * @break
   * href: ""
   * wcag2: 2.4.1
   * description: The "Skip to content" link does not work properly on the blog listing page.
   * discussionItems:
   *   - What does this fail under WCAG 3?
   */
  /**
   * @break
   * href: ""
   * wcag2: 2.4.13
   * wcag3:
   *   - Focus indicator contrast sufficient
   *   - Focus indicator size sufficient
   * description: |
   *   In the top nav, links within submenus indicate focus by only a single border
       located equidistant from the text above and below it, making it ambiguous
       which item is focused. When the last item in a submenu is focused,
       the indicator has low contrast against the page background.
   */
  /**
   * @break
   * href: ""
   * wcag2: 4.1.2
   * wcag3: Roles, values, states, properties available
   * description: In the top navigation bar, there is no programmatic indication of expandable items.
   */
}
<Layout headerNavFailureMode="focus" title="Blog" withMainId={false}>
  {
    livePost && (
      <div class="featured">
        {
          /**
           * @break
           * wcag2:
           *   - 1.4.3
           *   - 1.4.6
           * wcag3: Text contrast sufficient (minimum)
           * description: |
           *   The "Blog" heading is superimposed over an image with no overlay to guarantee minimum contrast.
           */
        }
        <div>
          <a class="image-link" href={`${livePost.id}/`}>
            <div
              class="background"
              style={{
                backgroundImage: `url(${livePost.data.image.src})`,
                backgroundPosition: livePost.data.imagePosition,
              }}
            />
          </a>
          <h1>Blog</h1>
        </div>
        <div>
          <h2 class="top">{livePost.data.title}</h2>
          <Fragment set:html={livePost.excerpt} />
          <a class="read-more" href={`${livePost.id}/`}>
            <FixableRegion>
              <span slot="fixed">Read more</span>
            </FixableRegion>
            {
              /**
               * @break
               * wcag2: 2.5.5
               * description: |
               *   The link after the excerpt from the topmost post is smaller than 44 by 44 pixels.
               * discussionItems:
               *   - Is there no target size requirement in WCAG 3 anymore?
               */
            }
            <Fixable
              as={Icon}
              name="ri:arrow-drop-right-line"
              broken={{ size: 24 }}
              fixed={{ size: 44 }}
            />
          </a>
        </div>
      </div>
    )
  }
  <div class="categories">
    {
      Object.keys(postsByCategory).map((category) => (
        <div class="category">
          <h2>{startCase(category.replace(/-/g, " "))}</h2>
          {postsByCategory[category].map((post) => (
            <div class="post">
              {
                /**
                 * @break
                 * wcag2: 2.3.3
                 * description: Images zoom in on hover and do not respect <code>prefers-reduced-motion</code>.
                 * discussionItems:
                 *   - This does not fail No visual motion in WCAG 3 because of the "lasting longer than 5 seconds" condition
                 */
                /**
                 * @break
                 * wcag2:
                 *   - 2.4.4
                 *   - 2.4.9
                 * wcag3:
                 *   - Interactive element names available
                 *   - Roles, values, states, properties available
                 * description: |
                 *   Each post image, as well as the arrow on the topmost post, links to its post,
                 *   but has no content to describe the link.
                 * discussionItems:
                 *   - Does this fail Name, role, value, state under WCAG 3?
                 */
              }
              <a
                class="image-link"
                href={`${post.data.brokenUrl ? "broken" : post.id}/`}
              >
                <div
                  class="background"
                  style={{
                    backgroundImage: `url(${post.data.image.src})`,
                    backgroundPosition: post.data.imagePosition,
                  }}
                />
              </a>
              <div>
                <a href={`${post.data.brokenUrl ? "broken" : post.id}/`}>
                  <h3>{post.data.title}</h3>
                </a>
                <Fragment set:html={post.excerpt} />
              </div>
            </div>
          ))}
        </div>
      ))
    }
  </div>
</Layout>

<style>
  .image-link {
    display: block;
    height: 30vh;
    min-height: 200px;
    overflow: hidden;
    position: relative;

    &:hover .background {
      transform: scale(1.2);
    }
  }

  .background {
    background-size: cover;
    background-position: center;
    inset: 0;
    position: absolute;
    transition: all 300ms ease;
  }

  .featured {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;

    & h1 {
      color: var(--white);
      font-size: calc(1rem * var(--ms16));
      position: absolute;
      top: 0;
      margin: -0.4em 0;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
    }

    & .image-link {
      height: 50vh;
      min-height: 300px;
    }
  }

  .categories {
    display: flex;
    flex-direction: column;
    gap: calc(1rem * var(--ms10));
    margin-top: calc(1rem * var(--ms10));
  }

  .category {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &:last-child {
      align-items: flex-end;
    }
  }

  .top {
    margin-block-start: 0;
  }

  .category h2 {
    background-color: var(--gold-vivid-500);
    color: var(--white);
    display: inline-block;
    padding: calc(1rem * var(--ms-5));
    width: auto;
  }

  .post {
    margin-bottom: calc(1rem * var(--ms10));
  }

  @media (min-width: 60em) {
    .categories,
    .featured {
      flex-direction: row;
    }

    .featured {
      & > :first-child {
        width: 66%;
        flex-shrink: 0;
      }

      & h1 {
        bottom: 0;
        top: auto;
        width: 66%;
      }
    }

    .categories .image-link {
    }
  }

  .read-more {
    border: 2px solid var(--blue-500);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    & span {
      margin-left: 1rem;
    }

    &:hover {
      background-color: var(--blue-500);
      color: var(--white);
    }
  }
</style>
