---
import { Image } from "astro:assets";
import logo from "@/assets/images/mbt-logo.webp";

import { slugifyPath } from "@/lib/meta";
import { navLinks } from "@/lib/nav-links";

const metaAnchor = slugifyPath(
  Astro.url.pathname.replace(import.meta.env.BASE_URL, "")
);
---

<footer>
  <div class="links">
    {
      navLinks.map(({ name, href, footerClass }) => (
        <a class={footerClass} {href}>
          {name}
        </a>
      ))
    }
  </div>
  <div class="about">
    <Image src={logo} alt="Museum of Broken Things" width="256" height="256" />
    <p class="attribution">
      The Museum of Broken Things is brought to you by Accessible Community and
      W3C, with help from <a href="https://unsplash.com/">Unsplash</a> and various
      AI chatbots.
    </p>
    <p>
      <a href={`${import.meta.env.BASE_URL}#${metaAnchor}`}
        >What's wrong with this page?</a
      >
    </p>
  </div>
</footer>

<style>
  footer {
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;

    &,
    & a {
      color: var(--gold-vivid-400);
      text-decoration: none;
    }
    & a:hover {
      color: var(--gold-vivid-200);
    }
  }

  .about {
    text-align: center;
  }

  .attribution {
    font-size: 70%;
    min-width: 250px;
    max-width: 250px;
  }

  .links a {
    border-bottom: 1px solid var(--gold-vivid-400);
    display: block;
    padding: 0.5rem;

    &:last-child {
      border-bottom: none;
    }
  }
</style>
