---
import { Image } from "astro:assets";
import logo from "@/assets/images/mbt-logo.webp";

import { getMode } from "@/lib/mode";
import { defaultNavLinks, type NavLink } from "@/lib/nav-links";

interface Props {
  mode?: "fixed";
}

const { mode = getMode() } = Astro.props;

const flattenedNavLinks = defaultNavLinks.reduce((links, parentOrLink) => {
  if ("children" in parentOrLink)
    parentOrLink.children.forEach((link) => {
      // Flatten children, but skip individual collection pages
      if (!/collections\/.+/.test(link.href)) links.push(link);
    })
  else links.push(parentOrLink);
  return links;
}, [] as NavLink[]);
---

<footer class={mode}>
  <div class="links">
    {
      flattenedNavLinks.map(({ name, href, footerClass }) => (
        <a class={footerClass} {href}>
          {name}
        </a>
      ))
    }
  </div>
  <div class="about">
    <Image src={logo} alt="Museum of Broken Things" width="256" height="256" />
    <p class="attribution">
      The Museum of Broken Things is brought to you by Accessible Community and
      W3C, with help from Unsplash and various AI chatbots.
    </p>
  </div>
</footer>

<style>
  footer {
    background-color: var(--gray-900);
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;

    &,
    & a {
      color: var(--gold-vivid-400);
      text-decoration: none;
    }
    & a:hover {
      color: var(--gold-vivid-200);
    }
  }

  .about {
    text-align: center;
  }

  .attribution {
    min-width: 256px;
    max-width: 256px;

    .broken & {
      font-size: 70%;
    }
  }

  .links a {
    border-bottom: 1px solid var(--gold-vivid-400);
    display: block;
    padding: 0.5rem;

    &:last-child {
      border-bottom: none;
    }
  }
</style>
