---
/**
 * Plays videos as either a backdrop or an active element.
 * As a backdrop, any slotted HTML/CSS will be overlaid.
 */
interface Props {
  backdrop?: boolean;
  src: string;
}

const { src: filename, backdrop = false } = Astro.props;
const src = `${import.meta.env.BASE_URL}assets/videos/${filename}`;
const extension = filename.slice(filename.lastIndexOf(".") + 1);
const type = `video/${extension}`;

const videoAttributes = backdrop
  ? {
      playsinline: true,
      autoplay: true,
      muted: true,
      loop: true,
    }
  : {
      autoplay: true,
      controls: true,
    };
---

<div class={backdrop ? "video-wrapper" : undefined}>
  <video {...videoAttributes}>
    <source {src} {type} />
    Your browser does not support the video tag.
  </video>
  <slot />
</div>

<style>
  video {
    height: 100%;
    width: 100%;
  }

  .video-wrapper {
    height: 50vh;
    position: relative;
    overflow: hidden;

    & > video {
      object-fit: cover;
      object-position: center;
      position: absolute;
    }
  }
</style>
